spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/todo
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

# SpringDoc OpenAPI (Swagger) настройки
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true